name: Publish

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20, 22, 24, 25]
    outputs:
      packages: ${{ steps.paths.outputs.packages }}
    steps:
      - name: Checkout project
        uses: actions/checkout@v6

      - name: NVM
        id: nvm
        run: echo "version=$(cat .nvmrc)" >> $GITHUB_OUTPUT

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          cache: yarn
          node-version: ${{ matrix.node-version }}

      - name: Setup
        run: yarn --immutable

      - name: Build
        run: yarn build

      - name: Test
        run: yarn test

      - name: Output paths
        id: paths
        run: echo "packages=$(yarn workspaces:list:json)" >> $GITHUB_OUTPUT

      - name: Upload dists
        uses: actions/upload-artifact@v4
        if: matrix.node-version == steps.nvm.outputs.version
        with:
          if-no-files-found: error
          name: dists
          path: packages/**/dist

  release-please:
    name: Create Release PR
    if: github.actor != 'renovate[bot]'
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    outputs:
      releases_created: ${{ steps.release.outputs.releases_created }}
    steps:
      - name: Run release-please
        id: release
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.PUSH_TOKEN }}

  publish-npm:
    name: Publish to NPM
    if: needs.release-please.outputs.releases_created == 'true'
    needs: [release-please]
    runs-on: ubuntu-latest
    environment: NPM
    permissions:
      id-token: write
      contents: write
    strategy:
      matrix:
        path: ${{ fromJson(needs.release-please.outputs.paths_released) }}
    steps:
      - name: Checkout project
        uses: actions/checkout@v6

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          cache: yarn
          node-version-file: .nvmrc
          registry-url: "https://registry.npmjs.org"

      - name: Setup
        run: yarn --immutable

      - name: Download dists
        uses: actions/download-artifact@v4
        with:
          name: dists
          path: ~/dists

      - name: Move dists to project
        run: | # shell
          for package in ~/dists/*
          do 
            mv "$package/dist" "packages/${package/$HOME\/dists\//}"
          done

      - name: Publish to NPM
        working-directory: ${{ matrix.path }}
        run: yarn npm publish --access public
